
html{
	scroll-behavior: smooth;
}
body{
	margin:0;
	width: 100%;
	font-size: 1.1rem;
	font-family: Open Sans;
	font-weight: 300;
	color:black;
}

canvas {
   position: fixed !important;
}
b{
	font-weight: 700;
}

h1{
	font-size: 3.1rem;
	font-family: Roboto;
}
h2{
	font-size: 3.1rem;
	font-family: Roboto;
	margin-bottom:-0.5%;
}
.absolute{
	position: absolute;
	width: 100%;
}
.center{
	text-align: center;
}
.color{
	-webkit-text-fill-color: transparent;
  	-webkit-background-clip: text;
  	background-image: url("monoOcean.jpg");
}
.section{
	width:55vw;
	height:50vh;
	margin: 25vh auto;
}
.image{
	width: 100%;
}

.column{
	float: left;
 	width: 30%;
 	margin-right:1%;
}

::-webkit-scrollbar {
display: none;
}

font-family: 'Roboto', monospace;
font-family: 'Open Sans', monospace;